.section-cards {
    padding-top: 10px;
    padding-bottom: 40px;
}

.card-top{
    width: 100%;
    height: 120px;
    padding: 20px 40px;
    margin: 10px;
    background-color: white;
    border: 0;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: ease-in .2s;
}

.card-top:hover{
    background-color: rgb(25, 22, 207);
    color: white;
}

.card-top:hover .number-card{
    color: white;
}
.card-top:hover .texto-card{
    color: white;
}
.card-top:hover .icono{
    color: white;
}


.number-card{
    display: block; 
    font-size: 32px;
    color: rgb(25, 22, 207);
    font-weight: 700;
}

.texto-card{
    font-size: 16px;
    color: grey;
 }

 .icono {
     font-size:32px;
     color: grey;
 }