.card-cultural-space{
    display: grid;
    grid-template-columns: 24em 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image" "description";
    border-radius: 15px;
    margin: 2rem 3rem;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
    transition: 0.5s ease;

    /* grid-template-areas: "image" "text" "stats"; */

}


/* .card-cultural-space {
    display: flex;
    border-radius: 15px;
    margin: 2rem 4rem ;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
    height: 25em;
    max-width: 100%;
    justify-content:flex-start;

    transition: 0.5s ease;
} */

.card-cultural-space:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 15px rgb(0,0,0,0.6);
}

 .body-cultural-space {
    /* grid-area: description; */
    display: grid;
    grid-template-columns: 1fr 13em;
    grid-template-rows: 1fr;
    margin:1 0px;
}
.left-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 30px; */
    padding: 30px 40px;

}
.right-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    justify-self: end;
}


/* .body-cultural-space {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
} */

.cultural-space-name {
    letter-spacing: -.10rem;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    color: #0d4997;
    padding-right: 20px;
}


.imagen-cultural-space {
    grid-area: image;
    width: 100%

    /* width: 25em;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;  */
}

.img-cultural-space {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}

.social-networks{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.right-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    /* margin: 30px;
    padding: 10px 20px;
    justify-self: end; */
}

@media only screen and (max-width: 1000px){
    .card-cultural-space {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        /* height: 65em; */
        /* min-width: 50em; */
        margin: 2em;
    }

    .imagen-cultural-space {
        max-width: 100%;
        height: 20em;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; 
    }
    
    .info-cultural-space{
        display: flex;
        padding-left: 2rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


.img-cultural-space {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;   
}

.right-card {
    margin: 15px;
}

.body-cultural-space {
    display:flex;
    flex-direction: column;
    padding: 0 20px 0 0;
}
}

.input-suscription{
    display: flex;
    max-width:100%;

}