.objectives-container {
    background-color: #f7f7f7;
    margin-top: -2px;
  }
  .container-objectives{
    margin: 0 20px;
    padding: 0  3rem 2rem;
    /* padding: 0  5rem 5rem; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .title-objectives {
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

/* .title-objectives::before{
    content: '';
    bottom:-5px;
    background-color: #01a579;
    width: 60px;
    height: 5px;
    position: absolute;
} */
.list-objectives{
        width: 100%;
        list-style-type: none;
}
.list-objectives li {
        margin-bottom: 1rem;
        padding-left: 35px;

    position: relative;
}
.list-objectives li ::before {
              content: "";
              position: absolute;
              top: 2px;
              left: 0;
              width: 30px;
              height: 30px;
              background-image: url("../../../../../assets/images/items/check-circle.svg");
              background-repeat: no-repeat;
            }
