.about-container {
    background-color: #f7f7f7;
  }
    .container-about {
      margin: 0 10%;
      padding: 5rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
    
  
.about-acca {
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.about-acca::before{
    content: '';
    bottom:-2px;
    background-color: #01a579;
    width: 60px;
    height: 5px;
    position: absolute;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.details{
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .container-about {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
  .container-about {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;

  }
}
/* 
@media screen and (max-width: 600px) {
  .about-container{
    display: grid;
    grid-template-columns: 1fr;

  }
  .container-about {
    padding: 5rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
  
/*  */