.agenda {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.04rem;
	margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 40px;
  color: #505e70;
}

.cover{
 display: flex;
 justify-content: center;
 align-items: center;
}

.agenda-cover {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:white;
  text-align: center;
  font-size: 84px;
  position: relative;   
}

.contenedor {
	margin: auto;
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.agenda-cover{
  position: relative; 
  overflow: hidden;
  border-right: 1px solid transparent;
  white-space: nowrap;
  animation:typing 3s steps(50) forwards;
  font-size: 7vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.img-agenda {
  top: 0;
  z-index: 1;
  max-width: 100%;
  margin: 0;
}

.img-principal-agenda {
  width: 100%;
}
.productions-circle{
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
    align-items: center;
}
.productions-events {
    font-size:20px;
  font-weight: 500;
  line-height: 1;
  margin-top:10px;
  margin-left:20px;
  color: #505e70;
}

.circulo {
	width: 3.5rem;
    height: 3.5rem;
    padding: 1.1rem;
    border-radius: 50%;
    background: #2270e4;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    align-items: center;
    text-align: center;
}

.circulo > h2 {
	font-family: sans-serif;
  justify-content: center;
  align-items: center;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}

.container-filters-cards{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 3fr;
  justify-content: right;
}

.button-filter{
  display: flex;
  justify-content: flex-end;
  padding: 0px 50px;
  visibility: hidden; 
}

.filter-btn{
  display:flex;
  width: 250px;
  justify-content: center;
  margin-left: 20px;
}

 @media screen and (max-width: 1150px) {

  

  .button-filter{
    visibility: visible;
}

.container-filters-cards{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 4fr;
  justify-content: right;
} 

.filters-panel{
  display: none;
}

.filter-btn-panel{
  display: none;
}
.filter-btn{
  display: none;
}
} 