
.container-errores{
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-msg {
    width: 950px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    border-radius: 20px;
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.msg-error {
    padding-top: 100px;
    font-size: 25px;
}
.img-error {
    width: 500px;
}

/* For Tablets: */

@media only screen and (min-width: 750px) and (max-width:1080px){
.container-errores{
    display: flex;
    width: 100%;
}

.container-msg {
    height: 500px;
    display: flex;
    justify-content: center;
}

.msg-error{
    padding: auto;
}
.img-error {
    height: 80%;
}
}

/* For mobile phones: */
@media screen and (max-width: 749px){

.container-errores{
    display: flex;
    width: 100%;
}

.container-msg {
    height: 800px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-error {
    width: 500px;
}

.msg-error {
    padding-top: 20px;
    font-size: 25px;
}
}