@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.title-production{
    margin-top: 5px;
    padding-left: 60px;
    letter-spacing: -.10rem;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    color: #505e70;
}

.container-center {
    display: flex;
    margin: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

}

.production-ticket {
    display: grid;
    width: 400px;
    grid-template-columns: 400px;
    grid-template-rows: 90px 120px;
    grid-template-areas: "title" "body" "button";

    border-radius: 0.5em;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
    text-align:center;
    margin: 15px;

    transition: 0.5s ease;
}

.ticket-header {
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3B3DD4;
    border-radius: 0.5em 0.5em 0 0 ;
}


.title {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.price {
    font-size: 30px;
    color: white
}

.ticket-body {
    padding-top:20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px;
    justify-content: center;
    align-items: center;
    background-color:#b2b5b673;
}

.date {
    padding-top: 30px;
    color: rgb(80, 75, 75);
    font-size: 20px;
    font-weight: 500;
}

.button{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.organizer{
    color: rgb(117, 116, 116);
    font-size: 15px;
    font-weight: 400;
}

.acerca_de{
    color: rgb(29, 38, 165);
    font-size: 30px;
    font-weight: 500;
}

.float-button {
    text-decoration: none;
    padding: 20px;
    bottom: 100px;
    color: #fff;
    background-color:#25d366;
    border-radius: 25px 30px 5px 25px;
    font-family: Arial;
    font-size: 17.5px;
    animation: whatsapp-animation 0.5s ease-in-out;
    /* box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3); */
    transition: all 0.3s ease-out;
}

.float-button:hover {
     background-color: #128C7E;
     color: #fff;
}

.bi-whatsapp {
    font-size: 20px !important;
    padding-right: 5px;
    padding-top: 15px;
    padding-left: 5px;
}
 
@keyframes whatsapp-animation {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%
    }
} 

.production-description {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 60px;
}

.description{
    font-size: 15px;
}


.dates{
    font-size: 12px;
    font-weight: 400;
}

.dates-production{
    font-size: 15px;
    font-weight: 400;
}

.modality{
    font-size: 15px;
    font-weight: 400;
}
.body-event {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container-map {
    display: flex;
    justify-content: right;
    margin: 20px;
}

.language-production{
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 0;
    font-size: 6px;
    color:#c80c32;
}

@media screen and (max-width: 1150px) {

    .title-production{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        letter-spacing: -.10rem;
        font-weight: 600;
        font-family: "Work Sans",sans-serif;
        color: #505e70;
    }
    
    .language-production{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 6px;
        color:#c80c32;
    }

}
/* @media screen and (max-width: 545px) {
    .text-whatsapp {
        display: none;
    }

    .float-button {
            background-color: #25d366;
            border-radius: 50px;
            color: #ffffff;
            text-decoration: none;
            width: 50px;
            height: 50px;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
            box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
            animation: effect 5s infinite ease-in;
    }

    .bi-whatsapp {
        font-size: 24px !important;
        padding-top: 2px;
        padding-left: 9px;
       
    }

    @keyframes effect {
        20%, 100% {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
        0%, 10%{
            width: 55px;
            height: 55px;
            font-size: 35px;
        }
        5%{
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
    }
} */