.img-formacion {
    max-width: 100%;
    margin: 0;
  }
  .img-principal-formacion {
    width: 100%;
  }

  .formation {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -.04rem;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 40px;
    color: #505e70;
  }
  
  .courses-title {
    font-size:20px;
  font-weight: 500;
  line-height: 1;
  margin-top:10px;
  margin-left:20px;
  color: #505e70;
}

.courses-circle{
  display: flex;
  padding-top: 10px;
  padding-left: 40px;
  align-items: center;
}

.circulo-courses {
	width: 3.5rem;
    height: 3.5rem;
    padding: 1.1rem;
    border-radius: 50%;
    background: #ca2721;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    align-items: center;
    text-align: center;
}

.circulo-courses > h2 {
	font-family: sans-serif;
  justify-content: center;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}
