
 .container-calendar-week{
    padding: 4rem 0rem 0rem 0rem;

    /* display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem; */
  }

  .all-productions{
    padding-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
   
}
 

.title-calendar-week {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
}


/* .title-calendar-week::before{
    content: '';
    bottom:-4px;
    background-color: #01a579;
    width: 30px;
    height: 5px;
    position: absolute;
    text-align: center;
} */
.item-card{
    display: flex;
    justify-content: center;
}

.items{
    padding-bottom: 10px;
}