.main-password {
    padding: 5px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(1,165,121);
    background: linear-gradient(85deg, rgba(1,165,121,1) 4%, rgba(12,200,139,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-password h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
  }
  .heading-password h6 {
    color: #615c5c;
    font-weight: 400;
    font-size: 0.88rem;
    display: inline-block;
    
  }
  
  .container-pass{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  }
  
  .logo-password {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 50px;
    align-items: center;
  }
  
  .logo-password img {
    width: 200px;
  }
  .formulario-password {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    transition: opacity 0.02s 0.4s;
  }

  .form-container-password {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 3.3rem;
    transition: all 0.6s ease-in-out;
  }


.password-btn {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 450;
    border-radius: 0.8rem;
    font-size: 0.95rem;
    transition: 0.3s;
  }
  
  .password-btn:hover {
    background-color: #081d99;
  }

.return-form a{
  display: flex;
  padding-top: 50px;
  padding-bottom: 0px;
  color: gray;
  font-size: 1rem;
  transition: 0.3s;
}

  .text-acca .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 10px 0 20px; 
    padding-bottom: 5px;
  }

  /* For mobile phones: */
@media screen and (max-width: 749px){
  .main-password {
     width: 100%;
   }

   .logo-password {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 20px;
    align-items: center;
  }

   .container-pass {
    margin:2em;
    width: 100%;
    height: 650px;
    display: flex;
  }
.form-container-password {
  height: 100%;
  padding: 3em;
  border-radius: 3.3rem;
}
  .formulario-password {
    width: 100%;
    display: flex;
  }


.return-form a{
  display: flex;
  padding-top: 15px;
  color: gray;
  font-size: 1rem;
  transition: 0.3s;
}
}