@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.card-course {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 180px 1fr 90px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 15px;
    background: white;
    box-shadow: 5px 5px 15px;
    text-align:center;
    margin: 15px 8px ;

    /* transition: 0.5s ease-in-out; */
    cursor: pointer;
}

.card-course:hover {
    transform: scale(1.05); 
     box-shadow: 5px 5px 15px rgb(0,0,0,0.6); 
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.card-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}


.card-texto {
    grid-area:text;
    margin: 15px;
}

.card-texto .language {
    color:#A60A2A;
    font-size: 18px;
    font-weight: 500;
}

.parrafo {
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: 300;
    text-align:left;
    margin-left: 40px;
    margin-top: 5px;
}

.card-texto h2{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    align-items: center;
    text-align:center;
}

.card-course-stats { 
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1A3540;
}

.card-course-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color:white;
}

.card-course-stats .type{
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-course-stats .value{
    font-size: 19px;
    font-weight: 500;
}