.container-formation-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: transform 0.5s, top 0.5s 0.5s;
}

@media screen and (max-width: 1150px) {
    .container-formation-cards {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        transition: transform 0.5s, top 0.5s 0.5s;
    }
}
  