
.card-acca {
    height: 9rem;
    width: 100%;
    background-color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}


.card-acca-title {
    margin-top: 3px;
    margin-bottom: 1rem;
    font-size: 20px;
    color: rgb(1, 19, 46);
  }

.card-acca-title:hover {
    box-shadow: #0d32ad2f 5px 5px, #2a88f31e 10px 10px, #330ba002 15px 15px;
  }
.icon-image{
        background-color: #2d2af333;
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
 
}