
.search-box {
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  background: #BACECB;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  /* margin: 0 0 0 20px; */
}

.search-btn {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #345469;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.bi-search {
  background: #345469;
  font-size: 20px;
}

.container-search{
  display: flex;
  flex-direction: row-reverse;
  width: 100wv;
  margin: 0px 25px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: black;
  font-size: 16px;
  padding: 14px 20px;
  transition: 0.4s;
 
  width: 200px; 
}

.search-box:hover > .search-input {
  width: 500px;
  /* padding: 0 7px; 
  
  */
}

.container-animation {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #85a79e;
  animation: grow 1s infinite;
  z-index: 0;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-width: 1150px) {
  .container-search{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    width: 100wv;
    margin: 20px 25px;
  }

  .search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    padding: 14px 20px;
    transition: 0.4s;
   
    width: 200px; 
  }

  .search-box:hover > .search-input {
    width: 350px;
    /* padding: 0 7px; 
    
    */
  }
}

/* .search-text{
  font-family: Montserrat;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 1.6em;
  transition: width 1s ease;
  
}

.search-btn {
  color: gray;
  font-size:30px;
  padding-top: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 0 0 0;
  position: absolute;
  cursor: pointer;
}


.search-container:before {
  content: "";
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 4px solid #01a579;
  position: absolute;
  animation: grow 1s 3;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
} */