.container-cultural-spaces {
    margin: 20px;
    padding: 0 25px;
}

.title-pages{
    line-height: 56px;
    font-family: "CHANEWEI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.5px;
    font-weight: 600;
}

.information-title {
    margin: 0 0 45px 0;
    padding: 16px;
    font-size: 20px;
    font-family: "OpenSans",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
}

.img-cs{
    max-width: 100%;
    margin: 0;
}
.img-principal-cultural-spaces{
    width: 100%;
}