.name-filters{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-top: 10px;
    margin-left:10px;
    color: #505e70;
}

.filters{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;

}

.filter-name-item{
    font-size:15px;
    font-weight: 500;
    margin-top:10px;
    color: #000000;
}

.filter-item{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 100%;

}


.filter-button{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
}
