.nav{
    background: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.nav-logo {
color: rgb(255, 255, 255);
justify-self: start;
margin-left: 20px;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.navbar-menu {
display: grid;
grid-template-columns: repeat(5, auto);
grid-gap: 10px;
list-style: none;
text-align: center;
width: 70vw;
justify-content: end;
margin-right: 2rem;
}

.navbar-item {
    display: flex;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 10px;
    height: 70px;
    font-weight: 500;
    font-family: "Work Sans",sans-serif;
    justify-content: space-between;
}

.navbar-links {
color: black;
text-decoration: none;
padding: 0.5rem 1rem;
}

.navbar-links:hover {
background-color: #38B593;
border-radius: 4px;
color: white;
text-decoration: none;
transition: all 0.2s ease-out;
}

.navbar-links-mobile {
color: white;
}

.menu-icon {
display: none;
}

@media screen and (max-width: 1150px) {

.navbar-menu {
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
position: absolute;
top: 110px;
left: -100%;
opacity: 1;
transition: all 0.5s ease;
}

.navbar-menu.active {
    width: 100wh;
    height:min-content;
    padding-top: 20px;
    background: #242222;
    left: 0;
    opacity: 0.99;
    transition: all 0.5s ease;
    z-index: 3;
}

.navbar-links {
text-align: center;
padding: 1rem;
width: 100%;
display: table;
color: white;
}

.navbar-links:hover {
background-color: #38B593;
color: white;
border-radius: 0;
}

.navbar-logo {
position: absolute;
top: 0;
left: 0;
transform: translate(25%, 50%);
}

.menu-icon {
display: block;
position: absolute;
top: 0;
right: 0;
transform: translate(-100%, 60%);
font-size: 1.8rem;
cursor: pointer;
}



.navbar-links-mobile {
display: block;
text-align: center;
padding: 1.5rem;
margin: 2rem auto;
border-radius: 4px;
width: 80%;
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 1.5rem;
}

.navbar-links-mobile:hover {
background: rgb(0, 0, 0);
transition: 250ms;
}

}