.footer{
    display: flex;
    /* position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0; */
    width: 100%;
    height: 5em;
    padding-top: 1em;
    background-color:#01a579;
    color: white;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-weight: bold;
}