.error-404{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:20px;

}
.img-error {
    display: flex;
}
.logo-error{
    display: flex;
}

.img-logo-404{
    width: 250px;
}
.img-error-404 {
    width: 90%;
}


.button-back{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 1150px) {
    .texto-error{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-content: center;
    }
}