@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

.main {
  padding: 5px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(1,165,121);
  background: linear-gradient(85deg, rgba(1,165,121,1) 4%, rgba(12,200,139,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  padding-left: 60px;
  padding-bottom: 20px;
  margin-top: 50px;
  align-items: center;
}

.logo img {
  width: 200px;
}

.container-main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 640px;
  background-color: #fff;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #615c5c;
  font-weight: 400;
  font-size: 0.8rem;
  display: inline;
}

.toggle {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 3.3rem;
  transition: all 0.6s ease-in-out;
}
 
.formulario {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.02s 0.4s;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-main.right-panel-active .sign-in-container.formulario {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-main.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container-main.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-color: #ffe0d2;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container-main.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container-main.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container-main.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.text a {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  color: gray;
  font-size: 1rem;
  transition: 0.3s;
}

.overlay-container .overlay-left .container-imagen{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #ffe0d2;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.container-imagen {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: transform 0.8s;
}

.image.show {
  opacity: 1;
  transform: none;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 450;
  border-radius: 0.8rem;
  font-size: 0.95rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #081d99;
}

.text .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 10px 0 20px; 
  padding-bottom: 5px;
}

/* For Tablets: */
@media only screen and (min-width: 750px) and (max-width:1080px){
    
  .main {
      width: 100%;
  }

  .container-main {
    margin:2em;
    width: 100%;
    height: 710px;
    display: flex;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 50px;
    align-items: center;
  }


  .formulario {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
    
  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .sign-up-container {
    width: 100%;
    z-index: 2;
  }

  .overlay-container {
    display: none;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container-main.right-panel-active .overlay-left {
    transform: translateX(-20%);
  }

  .overlay-right {
    transform: translateX(0);
  }

  .container-main.right-panel-active .overlay-right {
    transform: translateX(0);
  }

  .container-main.right-panel-active .sign-in-container {
    transform: translateX(100%);
    visibility: hidden;
  }

  .container-main.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
  }
}

/* For mobile phones: */
@media screen and (max-width: 749px){
 .main {
    width: 100%;
  }

  .container-main {
    margin:2em;
    width: 100%;
    height: 760px;
    display: flex;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 20px;
    margin-top: 50px;
    align-items: center;
  }

  .form-container{
    height: 100%;
    padding: 2em;
    border-radius: 3.3rem;
  }

  .formulario {
    width: 100%;
    display: flex;
  }

  /* .sign-up-container .logo {
    display: none
  } */

  .overlay-container {
    display: none;
  }

  .overlay-left {
    transform: translateX(-20%);
  }
  
  .container-main.right-panel-active .overlay-left {
    transform: translateX(-20%);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container-main.right-panel-active .overlay-right {
    transform: translateX(0);
  }

  .container-main.right-panel-active .sign-in-container {
    transform: translateX(100%);
    visibility: hidden;
  }

  .container-main.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
  }

  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .sign-up-container {
    width: 100%;
    z-index: 2;
  }
  
  .text p {
    display: flex;
    justify-content:center;
    align-items: center;
  }
} 