.container-cards-agenda {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: transform 0.5s, top 0.5s 0.5s;
}


.container-filters-cards{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 4fr;
    justify-content: right;
}

@media screen and (max-width: 1150px) {
    .container-cards-agenda {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        transition: transform 0.5s, top 0.5s 0.5s;
    }
}
  