.why-container {
    background-color: white;
    min-height: 50vh;
    justify-items: center;
    margin: 0 20px;
    padding: 5rem 5rem 0;
}
.title-culturalspace{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    position: relative;
}

    .subTitle {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
}

.register-culturalspace{
        color: white;
        background-color: #0763B3;
        text-decoration:none;
        padding: 0.8rem 1rem;
        border: 0.1rem solid transparent;
        border-radius: 0.25rem;
        font-weight: bolder;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease-in-out;
        width: 300px;
}
.register-culturalspace:hover{
    background-color: #4184BF;
}

.text-coordinador-agenda{
    font-size: 16px;
    font-weight: 600;
}

.container-button{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-end;
   
}